p {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
	font-size: 2.5em;
	font-family: Arial, sans-serif;
}

#logo {
	width: 35%;
	margin: 3% 0% 2% 0%;
}

.banner {
	width: 100%;
	height: 500px;
	margin-bottom: 1%;
}

.banner_text {
	position: absolute;
	width: 35%;
	left: 15%;
	top: 50%;
}

.woo_logo img {
	height: 150px;
	padding-left: 10%;
}

.group_logo {
	width: 80%;
	border-style: solid;
	border-color: white;
	border-width: 5px;
}

.woo_banner {
	margin-bottom: 3%;
}

.story {
	padding-left: 5%;
	background-color: #EAEAE0;
	padding-top: 1%;
	padding-bottom: 3%;
}

.thumbnail {
	padding-bottom: 15%;
}

.thumbnail > img.hidden_action {
    top: 0; 
    left: 0;
    position: relative;
    display: none;
}

.photo_row {
	margin-left: 10%;
}

.staff img {
	padding-left: 2%;
	float: left;
	padding-bottom: 5%;
}

.staff h5 {
	text-align: center;
}

.address, .email{
	padding-left: 20%;
	padding-bottom: 5%;
}

.contact {
	padding-left: 5%;
	background-color: #EAEAE0;
	padding-top: 1%;
	padding-bottom: 3%;
}

#linkedin_logo {
	width: 35px;
	margin-left: 40%;
}

.story_text {
	text-align: right;
}